@model IEnumerable<int>

@foreach (var item in Model)
{

<label class="radio"><input type="radio" name="radio" id="@item" value="@item"><i></i>@item %</label>

}

@*<label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
    <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
    <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>


    <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
    <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
    <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>*@