
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--typo-starts-->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="art-list">

                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/tuyen-cong-tac-vien-cho-he-thong-quanplay"><img src="~/Content/images/p-2.png" alt=""></a></div>
                    <div class="info">
                        <div class="article_title ">
                            <h2>

                                <p>   Tìm hiểu về đồng hồ Q&Q - Thương hiệu đồng hồ uy tín giá bình dân Q&Q là nhãn hiệu đồng hồ uy tín giá rẻ bán chạy trên toàn cầu và được đông đảo người dùng ưa chuộng lựa chọn. Tại Việt Nam, nhiều người vẫn còn băn khoăn đồng hồ Q&Q có tốt không trước khi quyết định chọn mua sản phẩm. Hãy cùng chúng tôi tìm hiểu trong bài viết dưới đây.</p>

                            </h2>
                        </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2019</div>
                            <div style="display: inline-block"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <a href="nickvn" title="NICK.VN">Xem thêm</a></div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href=""><img src="~/Content/images/p-6.png" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="~/Content/images/p-5.png" ">Liên Minh Huyền Thoại Vừa nhá hàng tướng mới, Riot đã bị game thủ Việt tố 'mượn ý tưởng' của Yena trong Liên Quân Mobile</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 07/06/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="~/Content/images/p-5.png"><img src="~/Content/images/p-5.png" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/pubg-chieu-long-fan-bluehole-chinh-thuc-sua-ban-do-erangel">Thương hiệu Atlantic - Chất lượng tuyệt hảo đến từ Thụy Sỹ Với cỗ máy bền bỉ và các thiết kế thanh lịch, thương hiệu đồng hồ nam Atlantic đang ngày càng chiếm được cảm tình của đông đảo người dùng trên thế giới.</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 07/06/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/ngoc-rong-online-cap-nhat-mo-ban-cai-trang-chi-chi"><img src="~/Content/images/p-3.png" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/ngoc-rong-online-cap-nhat-mo-ban-cai-trang-chi-chi">Ngọc Rồng Online - Cập Nhật Mở bán cải trang Chi Chi</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 01/06/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/feedback-cua-khach-hang-khi-su-dung-dich-vu-tai-shop-nick-se-nhu-the-nao"><img src="/storage/upload-usr/images/vA6nBCPl7I_1559127514.PNG" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/feedback-cua-khach-hang-khi-su-dung-dich-vu-tai-shop-nick-se-nhu-the-nao">Feedback của khách hàng khi sử dụng dịch vụ tại shop nick sẽ như thế nào?</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 29/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/pubg-mobile-phien-ban-013-them-sung-bizon-che-do-team-deathmatch-event-va-avatar-godzilla"><img src="/storage/upload-usr/images/Lil5O0b80W_1558868554.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/pubg-mobile-phien-ban-013-them-sung-bizon-che-do-team-deathmatch-event-va-avatar-godzilla">PUBG Mobile phiên bản 0.13 thêm súng Bizon, chế độ Team Deathmatch, event và avatar Godzilla,...</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 26/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/lien-quan-mobile-de-so-huu-ngo-ba-kha-kha-trau-ban-can-bao-nhieu-quan-huy"><img src="/storage/upload-usr/images/rhBjAdEtL3_1558868071.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/lien-quan-mobile-de-so-huu-ngo-ba-kha-kha-trau-ban-can-bao-nhieu-quan-huy">LIÊN QUÂN MOBILE: Để sở hữu Ngộ Bá Khá - Khá Trẩu bạn cần bao nhiêu quân huy?</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 26/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/lien-quan-mobile-lieu-ai-se-len-ngoi-vuong-dau-truong-danh-vong-mua-xuan-2019"><img src="/storage/upload-usr/images/XmzK6ei2q8_1558698037.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/lien-quan-mobile-lieu-ai-se-len-ngoi-vuong-dau-truong-danh-vong-mua-xuan-2019">LIÊN QUÂN MOBILE: Liệu ai sẽ lên ngôi vương đấu trường danh vọng mùa xuân 2019</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 24/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/lien-quan-mobile-garena-se-xu-ly-tinh-trang-buff-ban-ra-sao-de-doi-lai-cong-bang-cho-nguoi-choi"><img src="/storage/upload-usr/images/CLdMfe3UcG_1558526979.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/lien-quan-mobile-garena-se-xu-ly-tinh-trang-buff-ban-ra-sao-de-doi-lai-cong-bang-cho-nguoi-choi">LIÊN QUÂN MOBILE: Garena sẽ xử lý tình trạng buff bẩn ra sao để đòi lại công bằng cho người chơi?</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 22/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/ngoc-rong-online-dieu-chinh-vat-pham-ki-gui"><img src="/storage/upload-usr/images/8W5tPwXjyK_1558410963.png" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/ngoc-rong-online-dieu-chinh-vat-pham-ki-gui">Ngọc Rồng Online - Điều Chỉnh Vật Phẩm Kí Gửi</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 21/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/avengaers-nhung-nhan-vat-xung-dang-co-phim-rieng-sau-avenger-endgame"><img src="/storage/upload-usr/images/ohz1QEkzbM_1558274038.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/avengaers-nhung-nhan-vat-xung-dang-co-phim-rieng-sau-avenger-endgame">AVENGAERS: Những nhân vật xứng đáng có phim riêng sau Avenger ENDGAME.</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 19/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/lien-quan-mobile-co-hoi-trung-4-tuong-vinh-vien-arum-amily-cresht-va-slimz"><img src="/storage/upload-usr/images/q7jZdNIiaI_1558178393.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/lien-quan-mobile-co-hoi-trung-4-tuong-vinh-vien-arum-amily-cresht-va-slimz">LIEN QUÂN MOBILE: Cơ hội trúng 4 tướng vĩnh viễn: Arum, Amily, Cresht và Slimz</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 18/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/cap-nhat-va-dieu-chinh-moi-trong-ngoc-rong-online"><img src="/storage/upload-usr/images/Yk7vTrSI43_1558176821.png" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/cap-nhat-va-dieu-chinh-moi-trong-ngoc-rong-online">Cập Nhật và Điều Chỉnh Mới Trong - Ngọc Rồng Online</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 18/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs">Ngọc Rồng Online Cập Nhật Mới</div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/aog-dau-truong-vinh-quang-huong-dan-hoan-chinh-cach-choi-kiza-va-amara-trong-update-11-moi"><img src="/storage/upload-usr/images/3Z1duWVSJ0_1558096954.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/aog-dau-truong-vinh-quang-huong-dan-hoan-chinh-cach-choi-kiza-va-amara-trong-update-11-moi">AOG - ĐẤU TRƯỜNG VINH QUANG: HƯỚNG DẪN HOÀN CHỈNH CÁCH CHƠI KIZA VÀ AMARA TRONG UPDATE 1.1 MỚI</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 17/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


                <div class="a-item">
                    <div class="thumbnail-image img-thumbnail"><a href="/blog/lmht-tim-hieu-diem-chung-cua-tat-ca-cac-tuong-dang-thong-tri-giai-msi-2019"><img src="/storage/upload-usr/images/ZH3taPG26R_1558092602.jpg" alt=""></a></div>
                    <div class="info">
                        <div class="article_title "><h2><a href="/blog/lmht-tim-hieu-diem-chung-cua-tat-ca-cac-tuong-dang-thong-tri-giai-msi-2019">LMHT: Tìm hiểu điểm chung của tất cả các tướng đang thống trị giải MSI 2019</a></h2> </div>
                        <div class="article_cat_date">
                            <div style="display: inline-block;margin-right: 15px"><i class="fa fa-calendar" aria-hidden="true"></i> 17/05/2019</div>

                        </div>
                        <div class="article_description hidden-xs"></div>
                    </div>
                </div>


            </div>

            <div class="data_paginate paging_bootstrap paginations_custom" style="text-align: center">
                <ul class="pagination pagination-sm">

                    <li class="page-item disabled"><span class="page-link">«</span></li>



                    <li class="page-item active"><span class="page-link">1</span></li>
                    <li class="page-item"><a class="page-link" href="https://nick.vn/blog?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="https://nick.vn/blog?page=3">3</a></li>

                    <li class="page-item disabled hidden-xs"><span class="page-link">...</span></li>

                    <li class="page-item hidden-xs"><a class="page-link" href="https://nick.vn/blog?page=36">36</a></li>


                    <li class="page-item"><a class="page-link" href="https://nick.vn/blog?page=2" rel="next">»</a></li>
                </ul>

            </div>


        </div>
        <div class="col-md-3 single-right">
            <div class="w_sidebar">
                <section class="sky-form">
                    <h4>Catogories</h4>
                    <div class="row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Accessories</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women Watches</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids Watches</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men Watches</label>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Brand</h4>
                    <div class="row1 row2 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sonata</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Titan</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casio</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Omax</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fastrack</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sports</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fossil</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Maxima</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Colour</h4>
                    <ul class="w_nav2">
                        <li><a class="color1" href="#"></a></li>
                        <li><a class="color2" href="#"></a></li>
                        <li><a class="color3" href="#"></a></li>
                        <li><a class="color4" href="#"></a></li>
                        <li><a class="color5" href="#"></a></li>
                        <li><a class="color6" href="#"></a></li>
                        <li><a class="color7" href="#"></a></li>
                        <li><a class="color8" href="#"></a></li>
                        <li><a class="color9" href="#"></a></li>
                        <li><a class="color10" href="#"></a></li>
                        <li><a class="color12" href="#"></a></li>
                        <li><a class="color13" href="#"></a></li>
                        <li><a class="color14" href="#"></a></li>
                        <li><a class="color15" href="#"></a></li>
                        <li><a class="color5" href="#"></a></li>
                        <li><a class="color6" href="#"></a></li>
                        <li><a class="color7" href="#"></a></li>
                        <li><a class="color8" href="#"></a></li>
                        <li><a class="color9" href="#"></a></li>
                        <li><a class="color10" href="#"></a></li>
                    </ul>
                </section>

                <section class="sky-form">
                    <h4>Size</h4>
                    <div class="row1 row2 scroll-pane">
                        <div class="col col-4">
                            <label class="radio"><input type="radio" name="radio" checked=""><i></i>choice of Size</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>XS(28 MM)</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>S(32 MM)</label>
                        </div>
                        <div class="col col-4">
                            <label class="radio"><input type="radio" name="radio"><i></i>M(34 MM)</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>L(36 MM)</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>XL(38 MM)</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>XXL(40 MM)</label>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>discount</h4>
                    <div class="row1 row2 scroll-pane">
                        <div class="col col-4">
                            <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                        </div>
                        <div class="col col-4">
                            <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                            <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--typo-ends-->
